@charset "UTF-8";
/*-------------------------------------------
/* 全体設定
/*------------------------------------------*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #393e46;
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .05em;
}

.sectionWrapper--wide, .sectionWrapper--narrow {
  overflow-x: hidden;
  padding-left: 20px;
  padding-right: 20px;
}

.sectionTitleEN {
  color: #fff;
  font-family: "Caveat";
  font-weight: 400;
  font-size: 100px;
  font-size: 6.25rem;
  letter-spacing: .001em;
  z-index: -1;
}

.sectionTitleEN--vision {
  left: 1px;
  position: absolute;
  top: -23px;
}

.sectionTitleJP {
  color: #292929;
  font-style: italic;
  font-size: 24px;
  font-size: 1.5rem;
  letter-spacing: .08em;
}

.sectionTitleJP--vision {
  left: -12px;
  margin-bottom: 16px;
  position: relative;
}

.br--sp {
  display: none;
}

@media screen and (min-width: 959px) {
  .sectionWrapper--wide {
    padding-left: 50px;
    padding-right: 50px;
  }
  .sectionWrapper--narrow {
    padding-left: 150px;
    padding-right: 150px;
  }
  .sectionTitleEN {
    font-size: 200px;
    font-size: 12.5rem;
  }
  .sectionTitleEN--vision {
    left: 130px;
    top: -50px;
  }
  .sectionTitleJP {
    font-size: 36px;
    font-size: 2.25rem;
    letter-spacing: .1em;
  }
  .sectionTitleJP--vision {
    margin-bottom: 14px;
  }
  .br--sp {
    display: block;
  }
}

/*-------------------------------------------
/* header
/*------------------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 20px 10px;
}

.headerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.headerNav {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.open .headerNav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2ca9b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  left: 50%;
  position: absolute;
  top: 186px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 200;
}

.header__logo {
  height: auto;
  margin-right: 10px;
  width: 109px;
}

.open .headerNav__item {
  padding-bottom: 45px;
}

.header__title {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
  letter-spacing: .12em;
  padding-top: 2px;
}

.burgerBtn {
  position: relative;
  top: 3px;
}

.open .burgerBtn {
  z-index: 200;
}

.btn--entry {
  background: -webkit-gradient(linear, left top, right top, from(#2ca9b6), to(#60d8cc));
  background: linear-gradient(90deg, #2ca9b6, #60d8cc);
  border-radius: 23px;
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: .12em;
  line-height: .75;
  padding: 15px 62px;
  position: relative;
}

.btn--entry::before {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: 20px;
  top: 50%;
  width: 23px;
}

.btn--entry::after {
  background-color: #fff;
  content: "";
  height: 2px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: rotate(33.3deg);
          transform: rotate(33.3deg);
  -webkit-transform-origin: 100% 50% 0;
          transform-origin: 100% 50% 0;
  width: 11px;
}

.burgerBtn__bar {
  background-color: #60d8cc;
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.burgerBtn__bar--top {
  width: 24px;
}

.open .burgerBtn__bar--top {
  top: 50%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  width: 26px;
}

.burgerBtn__bar--middle {
  top: 8px;
  width: 20px;
}

.open .burgerBtn__bar--middle {
  display: none;
}

.burgerBtn__bar--bottom {
  top: 16px;
  width: 16px;
}

.open .burgerBtn__bar--bottom {
  top: 50%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  width: 26px;
}

.overlay {
  display: none;
  -webkit-transition: all .9s;
  transition: all .9s;
}

.open .overlay {
  background: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
}

@media screen and (min-width: 959px) {
  .header {
    padding: 17px 50px;
  }
  .header__logo {
    height: auto;
    margin-right: 15px;
    width: 145px;
  }
  .headerInner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerNav__item {
    font-weight: bold;
  }
  .headerNav__item:not(:last-of-type) {
    margin-left: 20px;
  }
  .headerNav__item:last-of-type {
    margin-left: 20px;
  }
  .headerLogo {
    margin-right: 16px;
  }
  .burgerBtn {
    display: none;
  }
  .header__title {
    font-size: 16px;
    font-size: 1rem;
    padding-top: 8px;
  }
}

@media screen and (min-width: 1223px) {
  .headerNav__item:not(:last-of-type) {
    margin-left: 37px;
  }
  .headerNav__item:last-of-type {
    margin-left: 47px;
  }
}

/*-------------------------------------------
/* mainVisual
/*------------------------------------------*/
.mainVisual {
  padding-bottom: 32px;
}

.mainVisualContainer {
  position: relative;
}

.mainVisualImg {
  display: block;
  height: 530px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 67% 0;
     object-position: 67% 0;
  width: 100%;
}

.pictureText {
  color: #fff;
}

.pictureText--header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 50%;
  position: absolute;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.pictureText__english {
  font-family: "Caveat";
  font-size: 60px;
  font-size: 3.75rem;
  letter-spacing: -.01em;
  width: 294px;
}

.pictureText__english::after {
  background-color: #fff;
  bottom: 2px;
  content: "";
  height: 3px;
  left: 50%;
  position: absolute;
  -webkit-transform: translatex(-50%) rotate(-2deg);
          transform: translatex(-50%) rotate(-2deg);
  width: 95%;
}

.pictureText__japanese {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  letter-spacing: .1em;
}

.pictureText__japanese--header {
  bottom: -32px;
  position: absolute;
  right: 3px;
}

@media screen and (min-width: 959px) {
  .mainVisual {
    padding-bottom: 49px;
  }
  .mainVisualImg {
    height: 830px;
    -o-object-position: 50% 70%;
       object-position: 50% 70%;
  }
  .pictureText--header {
    bottom: -78px;
    left: 130px;
    -webkit-transform: translatex(0);
            transform: translatex(0);
  }
  .pictureText__english {
    font-size: 160px;
    font-size: 10rem;
    width: auto;
  }
  .pictureText__english::after {
    bottom: 23px;
    -webkit-transform: translatex(-49%) rotate(-1deg);
            transform: translatex(-49%) rotate(-1deg);
    width: 98%;
  }
  .pictureText__japanese {
    font-size: 32px;
    font-size: 2rem;
  }
  .pictureText__japanese--header {
    bottom: -41px;
    right: -2px;
  }
}

/*-------------------------------------------
/* vision
/*------------------------------------------*/
.vision {
  position: relative;
}

.vision__text {
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: .088em;
  line-height: 2;
  margin-bottom: 22px;
}

.backgroundBox {
  background: -webkit-gradient(linear, left top, right top, from(#2ca9b6), to(#60d8cc));
  background: linear-gradient(90deg, #2ca9b6, #60d8cc);
  height: 100px;
  position: absolute;
  right: 0;
  width: 52%;
}

.visionInner {
  background-image: url(../img/background.png);
  background-repeat: repeat;
  padding-bottom: 18px;
  padding-top: 39px;
  position: relative;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

@media screen and (min-width: 959px) {
  .vision__text {
    letter-spacing: .23em;
    line-height: 2.75;
    margin-bottom: 23px;
  }
  .backgroundBox {
    height: 400px;
    width: 50%;
  }
  .visionInner {
    padding-top: 90px;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
    width: 1040px;
  }
}
/*# sourceMappingURL=style.css.map */