// compileExpanded: style.css

//*----------------------------------------*//
//*
//*  関数、定数の定義
//*
//*----------------------------------------*//

//*----------------------------------------*
//*  フォントサイズ設定 (px->rem)
//*----------------------------------------*

@mixin rem($size) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}

//*----------------------------------------*
//*  ブレークポイント設定
//*----------------------------------------*

$breakpoints: (
  "xs": (
    max-width: 0,
  ),
  "sm": (
    max-width: 576px,
  ),
  "md": (
    // min-width: 768px,
    max-width: 600px,
  ),
  "lg": (
    max-width: 992px,
  ),
  "xl": (
    max-width: 1200px,
  ),
  "xxl": (
    max-width: 1400px,
  ),
) !default;

//*----------------------------------------*
//*  レスポンシブ設定
//*----------------------------------------*

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // マップ型で定義されていない値が呼び出された時はエラーを返す
  @else {
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

//*----------------------------------------*
//*  カラー定数の設定
//*----------------------------------------*
$colorGray: #333;
$colorBrown: #f7f6f5;
$colorBrown2: #aa8f7b;
$colorWhite: #fff;

/*-------------------------------------------
/* 全体設定
/*------------------------------------------*/

@charset "UTF-8";

body {
  box-sizing: border-box;
  color: rgb(57, 62, 70);
  font-family: fot-tsukuardgothic-std, sans-serif;
}

/*-------------------------------------------
/* header
/*------------------------------------------*/
