// compileExpanded: style.css

// q_mainvisual画像の垂直方向があってない
// q_mainvisualのマスクが効かない

//*----------------------------------------*//
//*
//*  関数、定数の定義
//*
//*----------------------------------------*//

//*----------------------------------------*
//*  フォントサイズ設定 (px->rem)
//*----------------------------------------*

@mixin rem($size) {
  font-size: $size + px;
  font-size: ($size / 16) + rem;
}

//*----------------------------------------*
//*  ブレークポイント設定
//*----------------------------------------*

$breakpoints: (
  "xs": (
    min-width: 0,
  ),
  "sm": (
    min-width: 559px,
  ),
  "md": (
    min-width: 959px,
  ),
  "lg": (
    min-width: 1024px,
  ),
  "xl": (
    min-width: 1223px,
  ),
  "xxl": (
    min-width: 1500px,
  ),
) !default;

//*----------------------------------------*
//*  レスポンシブ設定
//*----------------------------------------*

@mixin responsive($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }

  // マップ型で定義されていない値が呼び出された時はエラーを返す
  @else {
    @error "指定されたブレークポイントは定義されていません。" + "指定できるブレークポイントは次のとおりです。 -> #{map-keys($breakpoints)}";
  }
}

//*----------------------------------------*
//*  カラー定数の設定
//*----------------------------------------*
$colorGray: #333;
$colorLightBlue: #60d8cc;
$colorLightBlue2: #2ca9b6;
$colorBrown2: #aa8f7b;
$colorWhite: #fff;

/*-------------------------------------------
/* 全体設定
/*------------------------------------------*/

// @charset "UTF-8";

body {
  box-sizing: border-box;
  color: rgb(57, 62, 70);
  font-family: "fot-tsukuardgothic-std", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .05em;
}

.sectionWrapper {
  overflow-x: hidden; //最後に消すこと
  padding-left: 20px;
  padding-right: 20px;
}
@include responsive(md) {
  .sectionWrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/*-------------------------------------------
/* header
/*------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 12px;
}
.headerInner {
  display: flex;
  justify-content: space-between;
}
.headerNav {
  display: none;
  justify-content: space-between;
}

.open .headerNav {
  align-items: center;
  color: $colorLightBlue2;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  @include rem(16);
  left: 50%;
  position: absolute;
  top: 186px;
  transform: translateX(-50%);
  z-index: 200;
}

.headerLogo {
  height: auto;
  margin-right: 6px;
  width: 109px;
}

.open .headerNav__item {
  padding-bottom: 45px;
}

.header__title {
  font-feature-settings: "palt";
  font-weight: bold;
  @include rem(12);
  letter-spacing: .1em;
}

.burgerBtn {
  position: relative;
  top: 3px;
}

.open .burgerBtn {
  z-index: 200;
}

.btn--entry {
  background: linear-gradient(90deg, #24a2b3, #68e0cf);
  border-radius: 23px;
  color: #fff;
  @include rem(20);
  letter-spacing: .12em;
  line-height: .75;
  padding: 15px 62px;
  position: relative;
  &::before {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    right: 20px;
    top: 50%;
    width: 23px;
  }
  &::after {
    background-color: #fff;
    content: "";
    height: 2px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(33.3deg);
    transform-origin: 100% 50% 0;
    width: 11px;
  }
}

.burgerBtn__bar {
  background-color: $colorLightBlue;
  display: block;
  height: 2px;
  position: absolute;
  right: 0;
  transition: transform .5s;
}

.burgerBtn__bar--top {
  width: 24px;
}
.open .burgerBtn__bar--top {
  top: 50%;
  transform: rotate(135deg);
  width: 26px;
}

.burgerBtn__bar--middle {
  top: 8px;
  width: 20px;
}
.open .burgerBtn__bar--middle {
  display: none;
}

.burgerBtn__bar--bottom {
  top: 16px;
  width: 16px;
}
.open .burgerBtn__bar--bottom {
  top: 50%;
  transform: rotate(-135deg);
  width: 26px;
}

.overlay {
  display: none;
  transition: all .9s;
}

.open .overlay {
  background: #fff;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: .9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 150;
}

@include responsive(md) {
  .header {
    padding: 17px 50px;
  }
  .headerInner {
    align-items: center;
  }
  .headerNav {
    align-items: center;
    display: flex;
  }
  .headerNav__item {
    font-weight: bold;
    &:not(:last-of-type) {
      margin-left: 20px;
    }
    &:last-of-type {
      margin-left: 20px;
    }
  }

  .headerLogo {
    margin-right: 16px;
  }
  .burgerBtn {
    display: none;
  }
  .header__title {
    @include rem(16);
  }
}

@include responsive(xl) {
  .headerNav__item {
    &:not(:last-of-type) {
      margin-left: 40px;
    }
    &:last-of-type {
      margin-left: 50px;
    }
  }
}
/*-------------------------------------------
/* mainVisual
/*------------------------------------------*/
.mainVisual {
}
.mainVisualContainer {
  position: relative;
}
// .mainVisualMask {
//   background-color: rgba(0, 0, 0, .75);
//   height: 100%;
//   position: absolute;
//   width: 100%;
// }

.mainVisualImg {
  display: block;
  height: 530px;
  object-fit: cover;
  object-position: 67% 0;
  width: 100%;
}

.pictureText {
  color: $colorWhite;
  &--header {
    align-items: center;
    bottom: 10px;
    display: inline-flex;
    flex-direction: column;
    left: 50%;
    position: absolute;
    transform: translatex(-50%);
  }
  &__english {
    font-family: "Caveat";
    @include rem(60);
    letter-spacing: -.01em;
    width: 294px;
    &::after {
      background-color: $colorWhite;
      bottom: 2px;
      content: "";
      height: 3px;
      left: 50%;
      position: absolute;
      transform: translatex(-50%) rotate(-2deg);
      width: 95%;
    }
    &--header {
      // position: absolute;
    }
  }
  &__japanese {
    font-feature-settings: "palt";
    font-style: italic;
    font-weight: bold;
    @include rem(18);
    letter-spacing: .1em;

    &--header {
      bottom: -32px;
      position: absolute;
      right: 3px;
    }
  }
}

@include responsive(md) {
  .mainVisualImg {
    height: 830px;
    object-position: 50% 70%;
  }

  .pictureText {
    &--header {
      bottom: -67px;
      left: 130px;
      transform: translatex(0);
    }
    &__english {
      @include rem(160);
      width: auto;
      &::after {
        bottom: 23px;
        transform: translatex(-49%) rotate(-1deg);
        width: 98%;
      }
    }
    &__japanese {
      @include rem(32);
      &--header {
        bottom: -41px;
        right: -2px;
      }
    }
  }
}
